html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #191414;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
}

#root {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}
